<!doctype html>
<html>
  <%= partial "_partials/head" %>
  <body>
    <%= partial "_partials/header" %>
    <div class="container" id="main" role="main">
      <%= yield %>
    </div>
    <%= partial "_partials/footer" %>
  </body>
</html>
